*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background-color:white;
    padding:10px 0;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sub-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title h1{
    font-size:24px;
    color:#0d55e7;
    font-weight:600;
}
.logo img{
    height:60px;
}
.nav{
    display:flex;
    gap:20px;
}
.nav a{
    text-decoration: none;
    color:black;
    font-weight:500;
    transition: color 0.3s ease;
}
.nav a:hover{
    color:#0d55e7;
    font-weight:bold;
}
.auth-buttons{
    display:flex;
    gap:10px;
    align-items: center;
}
button{
    padding:6px 12px;
    border-radius: 4px;
    font-size:14px;
    transition:all 0.3s ease;
}
#language-toggle{
    display:flex;
    align-items: center;
    gap:6px;
    background-color:white;
   border:1px solid white;
   color:#1a2b4c;
}
.auth-buttons button:hover{
    cursor: pointer;
    opacity:0.8;
}
.login-btn{
    padding:6px 20px;
    border:1px solid #0d55e7;
    background-color:#0d55e7;
    color:white;
    
}
.login-btn:hover{
    background-color:black;
    color:white;
}


 .main-container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, rgba(10, 25, 47, 0.85), rgba(0, 0, 0, 0.6)), 
    url('singhaDurbar.jpg');
  background-size: cover;
  background-position: center;
  color: white;
 }
.overlay-section{
    position:absolute;
    top:30%;
    left:5%;
    color:rgb(227, 215, 215);
    padding:10px;
}
.overlay-section h1{
    font-size:42px;
}
.color-change{
    color:#2054bd;
}
.overlay-section p{
    margin:10px 0;
    font-size:18px;
    max-width:700px;
    color:rgb(188, 176, 176);
}
.buttons{
    margin-top:20px;
    display:flex;
    gap:10px;
}
.buttons button{
    padding:8px 20px;
    font-size:16px;
    border-radius: 6px;
}
.submit-complaint{
    background-color: #0d55e7;
    color:white;
    border:1px solid #0d55e7;
    font-size:bold;
}
.register-btn{
    background-color:rgba(0,0,0,0.4);
    color:white;
    font-weight: bold;
    border:1px solid white;
}
.buttons button:hover{
    cursor: pointer;
    opacity:0.8;
}
.features-sections{
    padding:50px 0;
    background-color:#f9f9f9;
    text-align: center;
}
.features-sections h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.features-sections p{
    color:rgb(105, 105, 105);
    font-size:16px;
}
#complaints{
    background-color:#0d55e7;
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
#tracking{
    background-color:rgb(34, 174, 34);
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
#security{
    background-color:rgb(225, 42, 42);
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
.features-cards{
    display:flex;
    gap:10px;
    justify-content: space-between;
    margin-top:30px; 
    padding:20px;
}
.card{
    width:30%;
    border-radius:5%;
    padding:20px;
    padding-top:30px;
}
.card h2{
    margin-top:15px;
    margin-bottom:10px;
    font-size:22px;
    font-weight:600;
}
.card p{
    font-size:16px;
    padding:8px;
    color:rgb(105, 105, 105);
}
#card1{
    background-color: #e9ecf4;
}
#card2{
    background-color: #e9f4ec;
}
#card3{
    background-color: #f4e9e9;
}
.how-it-works{
    padding:50px 0;
    text-align: center;
    margin-top:20px;
}
.how-it-works h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.how-it-works p{
    color:rgb(105, 105, 105);
    font-size:16px;
    max-width:700px;
    margin: auto;
}
.steps{
    
    display:flex;
    gap:2rem;
    justify-content:center;
    align-items: center;
    padding:10px;
}
.step{
    display:grid;
    place-items: center;
    text-align: center;
    max-width:30%;
    margin-top: 30px;
    padding:20px;
    padding-top:30px;
}
.step h4{
    width:50px;
    height:50px;
    font-size:20px;
    font-weight:600;
    color:white;
    border-radius:100%;
    background-color: #2a68e6;
    display: flex;
    justify-content: center;
    margin-bottom:10px;
    padding-top:10px;
}
.submit-your-complaint{
    background:linear-gradient(to right, #362bdb, #5361ce);
    padding:50px 0;
    text-align: center;
    margin-top:20px;
    color:white;
}
.submit-your-complaint h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.submit-your-complaint p{
    font-size:16px;
    max-width:700px;
    margin: auto;
    color:rgb(196, 187, 187);
}
.submit-your-complaint button{
    margin-top:20px;
    padding:10px 30px;
    font-size:16px;
    border-radius:6px;
    background-color:rgba(0,0,0,0.2);
    color:white;
    border:1px solid white;
    font-weight:600;
}
.footer-content{
    background-color: #46494e;
    color:white;
}
.footer-info{
    display:flex;
    gap:30px;
    justify-content:space-between;
    padding:30px 0;
    margin:0px 50px;
    border-bottom:2px solid rgb(90, 87, 87);
}
.system-description{
    max-width:400px;
}
.system-description h2{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}
.system-description p{
    font-size:16px;
    color:rgb(200, 200, 200);
    line-height:1;
    margin-top:10px;
    width:75%;
}
.logo{
    display:flex;
    justify-content:row;
    align-items:row;
}
.logo h2{
    margin-top:20px;
}
.info h3{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}
.info p{
    font-size:16px;
    color:rgb(200, 200, 200);
    line-height:1;
    margin-top:10px;
}
.footer-links{
    display:flex;
    gap:30%;
    margin-top:20px;
    padding-bottom:20px;
    margin-left:50px;
}
.reserved{
    padding:10px 0;
    font-size:14px;
    color:rgb(200, 200, 200);
}
.links a{
    text-decoration: none;
    color:white;
    margin-left:20px;
}
.links a:hover{
    color:#1d63f0;
}
/*login page css*/
.login-container{
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}
.Login-form{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
    padding:20px;
}
.toggle-login-register-btn{
    gap:3px;
    display:flex;
    justify-content: center;
    margin-bottom:20px;
}
.form{
    display:flex;
    flex-direction:column;
    gap:10px;
    text-align:left;
}


