*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10000000;
    background-color:white;
    padding:10px 0;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.container{
    width: 90%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sub-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title h1{
    font-size:24px;
    color:#0d55e7;
    font-weight:600;
}
.logo img{
    height:60px;
}
.nav{
    display:flex;
    gap:20px;
}
.nav a{
    text-decoration: none;
    color:black;
    font-weight:500;
    transition: color 0.3s ease;
}
.nav a:hover{
    color:#0d55e7;
    font-weight:bold;
}
.auth-buttons{
    display:flex;
    gap:10px;
    align-items: center;
}
button{
    padding:6px 12px;
    border-radius: 4px;
    font-size:14px;
    transition:all 0.3s ease;
}
#language-toggle{
    display:flex;
    align-items: center;
    gap:6px;
    background-color:white;
   border:1px solid white;
   color:#1a2b4c;
}
.auth-buttons button:hover{
    cursor: pointer;
    opacity:0.8;
}
.login-btn{
    padding:6px 20px;
    border:1px solid #0d55e7;
    background-color:#0d55e7;
    color:white;
    
}
.login-btn:hover{
    background-color:rgb(198, 195, 195);
    color:white;
    border:none;
}


 .main-container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, rgba(10, 25, 47, 0.85), rgba(0, 0, 0, 0.6)), 
    url('singhaDurbar.jpg');
  background-size: cover;
  background-position: center;
  color: white;
 }
.overlay-section{
    position:absolute;
    top:30%;
    left:5%;
    color:rgb(227, 215, 215);
    padding:10px;
}
.overlay-section h1{
    font-size:42px;
}
.color-change{
    color:#2054bd;
}
.overlay-section p{
    margin:10px 0;
    font-size:18px;
    max-width:700px;
    color:rgb(188, 176, 176);
}
.buttons{
    margin-top:20px;
    display:flex;
    gap:10px;
}
.buttons button{
    padding:8px 20px;
    font-size:16px;
    border-radius: 6px;
}
.submit-complaint{
    background-color: #0d55e7;
    color:white;
    border:1px solid #0d55e7;
    font-size:bold;
}
.register-btn{
    background-color:rgba(0,0,0,0.4);
    color:white;
    font-weight: bold;
    border:1px solid white;
}
.buttons button:hover{
    cursor: pointer;
    opacity:0.8;
}
.features-sections{
    padding:50px 0;
    background-color:#f9f9f9;
    text-align: center;
}
.features-sections h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.features-sections p{
    color:rgb(105, 105, 105);
    font-size:16px;
}
#complaints{
    background-color:#0d55e7;
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
#tracking{
    background-color:rgb(34, 174, 34);
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
#security{
    background-color:rgb(225, 42, 42);
    color:white;
    padding:10px;
    text-align: center;
    border-radius:20%;
}
.features-cards{
    display:flex;
    gap:10px;
    justify-content: space-between;
    margin-top:30px; 
    padding:20px;
}
.card{
    width:30%;
    border-radius:5%;
    padding:20px;
    padding-top:30px;
}
.card h2{
    margin-top:15px;
    margin-bottom:10px;
    font-size:22px;
    font-weight:600;
}
.card p{
    font-size:16px;
    padding:8px;
    color:rgb(105, 105, 105);
}
#card1{
    background-color: #e9ecf4;
}
#card2{
    background-color: #e9f4ec;
}
#card3{
    background-color: #f4e9e9;
}
.how-it-works{
    padding:50px 0;
    text-align: center;
    margin-top:20px;
}
.how-it-works h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.how-it-works p{
    color:rgb(105, 105, 105);
    font-size:16px;
    max-width:700px;
    margin: auto;
}
.steps{
    
    display:flex;
    gap:2rem;
    justify-content:center;
    align-items: center;
    padding:10px;
}
.step{
    display:grid;
    place-items: center;
    text-align: center;
    max-width:30%;
    margin-top: 30px;
    padding:20px;
    padding-top:30px;
}
.step h4{
    width:50px;
    height:50px;
    font-size:20px;
    font-weight:600;
    color:white;
    border-radius:100%;
    background-color: #2a68e6;
    display: flex;
    justify-content: center;
    margin-bottom:10px;
    padding-top:10px;
}
.submit-your-complaint{
    background:linear-gradient(to right, #362bdb, #5361ce);
    padding:50px 0;
    text-align: center;
    margin-top:20px;
    color:white;
}
.submit-your-complaint h2{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}
.submit-your-complaint p{
    font-size:16px;
    max-width:700px;
    margin: auto;
    color:rgb(196, 187, 187);
}
.submit-your-complaint button{
    margin-top:20px;
    padding:10px 30px;
    font-size:16px;
    border-radius:6px;
    background-color:rgba(0,0,0,0.2);
    color:white;
    border:1px solid white;
    font-weight:600;
}
.footer-content{
    background-color: #46494e;
    color:white;
}
.footer-info{
    display:flex;
    gap:30px;
    justify-content:space-between;
    padding:30px 0;
    margin:0px 50px;
    border-bottom:2px solid rgb(90, 87, 87);
}
.system-description{
    max-width:400px;
}
.system-description h2{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}
.system-description p{
    font-size:16px;
    color:rgb(200, 200, 200);
    line-height:1;
    margin-top:10px;
    width:75%;
}
.logo{
    display:flex;
    justify-content:row;
    align-items:row;
}
.logo h2{
    margin-top:20px;
}
.info h3{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}
.info p{
    font-size:16px;
    color:rgb(200, 200, 200);
    line-height:1;
    margin-top:10px;
}
.footer-links{
    display:flex;
    gap:30%;
    margin-top:20px;
    padding-bottom:20px;
    margin-left:50px;
}
.reserved{
    padding:10px 0;
    font-size:14px;
    color:rgb(200, 200, 200);
}
.links a{
    text-decoration: none;
    color:white;
    margin-left:20px;
}
.links a:hover{
    color:#1d63f0;
}
/*login page css*/
.login-container{
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}
.Login-form{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
    padding:20px;
}
.toggle-login-register-btn{
    gap:3px;
    display:flex;
    justify-content: center;
    margin-bottom:20px;
}
.form{
    display:flex;
    flex-direction:column;
    gap:5px;
    text-align:left;
}
.form label{
    font-weight:550;
    color:#484848;
}
.form input{
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}
.form input:focus{
    border-color:#286cf3;
    outline:none;
    box-shadow:0 0 5px rgba(13, 85, 231, 0.5);
}
.submit-btn{
    cursor: pointer;
    background-color:rgb(59, 59, 240);
    color:white;
    border:none;
    padding:10px;
}
.forgot-password a{
    display: grid;
    place-items: center;
    margin-bottom:15px;
    text-decoration: none;
    margin-top: 10px;
    color:#3976ef;
    font-size:16px;
}
.forgot-password a:hover{
    text-decoration: underline;
}
.privacy-policy p{
    font-size:16px;
    color:rgb(105, 105, 105);
}
.privacy-policy a{
    text-decoration: none;
    color:#3976ef;
}
.privacy-policy a:hover{
    text-decoration: underline;
}
.btn-select{
    display:flex;
    gap:5px;
    padding-bottom:10px;
}
#citizen-btn{
            width:50%;
            border:none;
            background-color:rgb(18, 177, 18);
            color:white;
            padding:10px 20px;
            border-radius:10px;
            cursor: pointer;
            font-weight:bold;
            margin-right:1px;
 }
#officer-btn{
            width:50%;
            color:white;
            background-color:rgb(156, 155, 155);
            border: none;
            padding:10px 20px;
            border-radius:10px;
            cursor: pointer;
            font-weight:bold;
            margin-left:1px;
 }
 #department{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
    margin-bottom:15px;
 }
 #tosapp{
    color:#3976ef;
    cursor: pointer;
 }
 /*add verification page css*/
 .auth{
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo-auth i{
    font-size: 48px;
    color: #0ab74f;
    background-color: #c3f3d6;
    padding:10px;
    border-radius: 50%;
}
.auth h3{
    margin-top: 15px;
    font-size: 24px;
    color: #333;
}
.auth p{
    margin: 10px 0 10px 0;
    color: #666;
    text-align: center;
}
.auth-form{
    display:flex;
    flex-direction:column;
    gap:10px;
    text-align:left;
}
.auth-form label{
    font-weight:550;
    color:#484848;
}
.auth-form input{
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}
.auth-form input:focus{
    border-color:#0ab74f;
    outline:none;
}
.auth-form button{
    cursor:pointer;
    background-color:#1558df;
    border:none;
    color:white;
    padding:10px;
    border-radius:5px;
    font-size:16px;
    font-weight:bold;
}
.link-btn{
    text-decoration: none;
    color:#666;
    font-size:16px;
    text-align: center;
    margin-bottom:15px;
}
.link-btn:hover{
    text-decoration: underline;
}
.resend-btn{
    color:#1558df
}
.profile-sections{
    display:flex;
    gap:10px;
}
#notifications-icon{
    color: #0d55e7;
    font-size:30px;
}
#profile-icon{
    font-size:30px;
}
.username{
    font-weight:600;
    color:#333;

}
.role{
    color:#666;
}
.profile-dropdown{
    position:absolute;
    top:80%;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:10px;
    border-radius:5px;
    display:none;
    flex-direction: column;
}
.dropdown-text{
    margin:5px 0;
    color:#333;
    text-decoration: none;
}
.profileicon{
    display:flex;
    gap:5px;
    align-items: center;
    cursor: pointer;
    margin-bottom:10px;
}
.profileicon a{
    color:#666;
}
.profileicon i{
    color:#666;
    font-size:22px;
}
.settings{
    display:flex;
    gap:5px;
    margin-bottom:10px;
    color:#666;
}
.settings i{
    font-size:22px;
}
.settings a{
    color:#666;
    margin-top:2px;
}
.logout{
    margin-top:10px;
    border-top:1px solid #ccc;
    padding-top:10px;
    display:flex;
    gap:5px;
}
.logout a{
    color:red;
    margin-top:1px;
}
.logout i{
    color:red;
    font-size:20px;
}
.vertical-navigation{
    position:absolute;
    z-index: 99999;
    margin-top:83px;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    background-color:#f5f5f5;
    height:120vh;
    
}

.navigation{
    color:#494848;
    font-weight: bold;
    margin: 10px 0px;

}
.navigation1{
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px solid #ccc;
}
.nav-btn{
   display:flex;
    gap:10px;
    align-items: center;
    padding:8px;
}
.notification-badge{
    background-color:#f95c5c;
    color:#333;
    border-radius:50%;
    margin-top:10px;
    margin-bottom:20px;
    padding:4px 8px;
    font-size:12px;
    font-weight:bold;
}
.Navbtn:hover{
   
    background-color:#f0f1f6;
    border-radius:5px;
    cursor: pointer;
    color:#1558df;
}
.Navbtn:hover .notification-badge{
    background-color:#d5defb;
    border:#d2d0d0 1px solid;
}
.Navbtn{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.profile{
    padding-bottom:20px;
}
.profile:hover{
    background-color:#f0f1f6;
    border-radius:5px;
    cursor: pointer;
    color:#1558df;
}
.change-color{
    background-color: #0ab74f;
    padding:8px;
    border-radius: 50%;
}
.main-divider{
    display:flex;
    gap:20px;
    justify-content: space-between;
}
.dashboard-container{
    margin-left:240px;
    padding:30px;
    width:100%;
    margin-top:110px;
}
.addtitle{
    background-color:#0d55e7;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    font-size:14px;
    cursor: pointer;
    display:flex;
    align-items: center;
    gap:5px;
}
.MainHeading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.myComplaintsHeading p{
    color:#666;
    margin:5px 0px;
    
}
.complaintCards1{
    display:flex;
    gap:50px;
    margin-bottom:20px;
    width:100%;
    object-fit: cover;

}
.complaintsStatement{
    font-size:18px;
    object-fit: cover;
    display:flex;
    justify-content: space-between;
    gap:20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#documentblue{
    background-color:rgb(69, 69, 250);
    color:white;
    padding: 10px;
    border-radius:5px;
    margin-top:12px;
    text-align: center;
    
}
#assestimeYellow{
    background-color:rgb(247, 167, 9);
    color:white;
    padding: 10px;
    border-radius:5px;
    margin-top:12px;
    text-align: center;
}
#autoreneworange{
    background-color:rgb(244, 109, 6);
    color:white;
    padding: 10px;
    border-radius:5px;
    margin-top:12px;
    text-align: center;
}
#checkgreen{
    background-color:rgb(34, 174, 34);
    color:white;
    padding: 10px;
    border-radius:5px;
    margin-top:12px;
    text-align: center;
}
.lightColor{
    color:#666;
    font-size: 16px;
}
.boldColor{
    color:#333;
    font-weight:500;
    font-size: 18px;
    margin-bottom:8px;
}
.complaintsee h2{
    margin-bottom:8px;
}
.MainBox{
    margin-top:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    border:#eae6e6 1px solid;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top:20px;
}
.complaintText011{
    font-size:14px;
    color:#474747;
}
.myComplaintsHeading1{
    padding-left:10px;
}
.ComplaintHeader{
    display:flex;
    justify-content: space-between;
    padding:10px 20px;
    background-color: #edeef0;
}
.location{
    color:rgb(254, 4, 4);
    background-color: rgb(249, 184, 161);
    border-radius:5px;
    padding:5px;

}
.complaintTitle{
    display:flex;
    gap:10px;
    align-items: center;
}
.complaintTitle p{
    font-size:16px;
    font-weight:600;
}
.ComplaintDetails{
    padding:10px;
}