.auth-buttons{
            display:flex;
            justify-content: flex-end;
            margin-bottom: 1rem;
        }
        #language-toggle{
            background:white;
            padding:0.5 rem 1rem;
            border-radius:5px;
            cursor: pointer;
            font-weight:bold;
            display:flex;
            align-items: center;
            gap:6px;
        }
        .sub-container{
            text-align: center;
            margin-bottom:10px;
        }
        .logo img{
            width:80px;
            height:auto;
            margin-bottom: 8px;
        }
        .sub-container h1{
            margin-top: 15px;
            font-size:24px;
           margin-bottom: 15px;
        }
        .tagline p{
            text-align: center;
            font-size:18px;
            margin-bottom: 15px;
            color:rgb(105, 105, 105);
        }
        .login-btn{
            width:50%;
            background-color:rgb(45, 45, 237);
            color:white;
            padding:10px 20px;
            border-radius:20px;
            cursor: pointer;
            font-weight:bold;
            margin-right:1px;
        }
        .register-btn{
            width:50%;
            background-color:#eaeaea;
            color:rgb(104, 103, 103);
            padding:10px 20px;
            border-radius:20px;
            cursor: pointer;
            font-weight:bold;
            margin-left:0px;
        }